* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #433b3b;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  background-color: #433b3b;
}
.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #bbb2b2, #7c7474);
  width: 80vw;
  height: 100vh;
}

.pokedex {
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10px;
  max-width: 100%;
}

#poke_header {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fb6c54;
  border-bottom: 2px solid #fff;
  top: 0;
  left: 0;
}

#poke {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#title {
  letter-spacing: 2px;
}
#pokeball {
  width: 30px;
  height: 30px;
  position: relative;
}
